.x1 {
    margin-left: 75px
}
.x2 {
    margin-left: 150px
}
.x3 {
    margin-left: 225px
}
.x4 {
    margin-left: 300px
}
.x5 {
    margin-left: 375px
}

.y1 {
    margin-top: 75px
}
.y2 {
    margin-top: 150px
}
.y3 {
    margin-top: 225px
}
.y4 {
    margin-top: 300px
}
.y5 {
    margin-top: 375px
}
