body{
    background:#eee;
    font-family:Helvetica,Arial;
    font-size:14px;
}      

.dices{
    position: absolute;
    left: 45%;
    background-color: #e20000;
    height: 75px;
    width: 75px;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

.dices{
  animation-name: my-super-animation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
}

.dices:hover{
  animation-play-state: running;
}

@keyframes my-super-animation
{
    0%   {transform:translateX(0px);}
    100%  {transform:translateX(300px);}
}

.x1 {
    margin-left: 75px
}
.x2 {
    margin-left: 150px
}
.x3 {
    margin-left: 225px
}
.x4 {
    margin-left: 300px
}
.x5 {
    margin-left: 375px
}

.y1 {
    margin-top: 75px
}
.y2 {
    margin-top: 150px
}
.y3 {
    margin-top: 225px
}
.y4 {
    margin-top: 300px
}
.y5 {
    margin-top: 375px
}
